html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    line-height: 1;
    color: black;
    background: white;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}



@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");
body {
    font-family: "Montserrat", sans-serif;
}
body a {
    text-decoration: none;
}

.nav {
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.nav a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #000000;
}
.nav a p {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #A0A0A0;
}
.nav a span {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}
@media (max-width: 550px) {
    .nav :nth-child(2) {
        display: none;
    }
}

.header {
    height: 100vh;
}
.header__body {
    height: 90vh;
    background: url(back.png) 0 0/cover no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (max-width: 550px) {
    .header__nav :nth-child(2) {
        display: none;
    }
    .header img {
        max-width: 280px;
    }
}

.new {
    position: relative;
    top: -50px;
}
.new__body {
    max-width: 1300px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.new__block {
    position: relative;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 600px;
    height: 270px;
    background: #EFEFEF;
    -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}
.new__text {
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 230px;
}
.new__text h2 {
    /*font-style: bold;*/
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FF3939;
}
.new__text p {
    padding: 10px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}
.new__text a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
}
.new__text a img {
    width: 20px;
}
.new__image {
    position: absolute;
    top: -120px;
    right: -30px;
    width: 500px;
}
.new__image img {
    width: 500px;
}
@media (max-width: 790px) {
    .new__block {
        width: 300px;
        height: 350px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .new__image {
        width: 280px;
        top: 150px;
        right: 30px;
    }
    .new__image img {
        width: 100%;
    }
}

.shop__header {
    text-align: center;
}
.shop__header h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */
    color: #000000;
}
.shop__header h1 {
    /*font-style: bold;*/
    font-weight: 900;
    font-size: 80px;
    line-height: 98px;
    /* identical to box height */
    color: #000000;
}
.shop__header p {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */
    color: #000000;
}
.shop__body {
    max-width: 1300px;
    margin: 150px auto;
}
.shop__body h3 {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    /* identical to box height */
    color: #000000;
}
.shop__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}
.shop__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 400px;
    height: 580px;
    background: url(backshop.png) 0 0/cover no-repeat;
}
.shop__image {
    width: 100%;
}
.shop__image img {
    width: 100%;
}
.shop__info {
    padding-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.shop__info p {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    color: #000000;
}
.shop__info span {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 10px 0;
    color: #000000;
}
.shop__info a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
}
.shop__info a img {
    width: 20px;
}
@media (max-width: 1000px) {
    .shop__header h2 {
        font-size: 20px;
    }
    .shop__header h1 {
        line-height: 30px;
        font-size: 25px;
    }
    .shop__header p {
        font-size: 20px;
    }
    .shop__body {
        margin: 50px auto;
        padding: 0 20px;
    }
    .shop h3 {
        font-size: 25px;
    }
}
@media (max-width: 450px) {
    .shop__card {
        width: 290px;
        height: 500px;
        background: url(backshop.png) 0 0/100% 100% no-repeat;
    }
    .shop__image {
        width: 90%;
    }
}

.footer {
    width: 100%;
    background: #000000;
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.footer__contacts a {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    text-decoration: underline;
    color: #FFFFFF;
}
@media (max-width: 740px) {
    .footer {
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .footer__image img {
        display: none;
    }
}

.forms {
    min-height: 70vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.forms form {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
    margin: 10px;
}
.forms form input {
    width: 217px;
    height: 35px;
    border: 1px solid #B5B5B5;
    border-radius: 3px;
    font-family: "Rasa";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding-left: 10px;
}
.forms__initials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.forms__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.forms__number form input {
    width: 240px;
}
.forms__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #000000;
    width: 120px;
    height: 38px;
    border-radius: 3px;
    color: #FFFFFF;
    margin: 16px 0 0 0;
    cursor: pointer;
    font-size: 12px;
}
.forms__code form input {
    width: 160px;
}
.forms__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.forms__address p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 30px 10px;
    color: #FF0A0A;
}
.forms__address form input {
    width: 300px;
}
.forms__buy {
    width: 202px;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #000000;
    border-radius: 5px;
    margin: 10px 0 20px 10px;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.forms__products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.forms__product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 370px;
    height: 125px;
    border: 1px solid #B5B5B5;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px;
}
.forms__product img {
    width: 120px;
    height: auto;
}
.forms__total {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}
@media (max-width: 1190px) {
    .forms {
        max-width: 800px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .forms form input {
        width: 290px;
    }
    .forms__initials {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .forms__number {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .forms__button {
        margin: 10px 0 0 10px;
        width: 300px;
    }
    .forms form input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .forms__products {
        margin-top: 50px;
    }
}
@media (max-width: 765px) {
    .forms {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media (max-width: 430px) {
    .forms {
        padding: 0px;
    }
    .forms form {
        margin: 10px 2px;
    }
    .forms__product {
        width: 280px;
    }
    .forms__product img {
        width: 60px;
        height: auto;
    }
    .forms__product p {
        font-size: 18px;
    }
    .forms__button {
        margin: 10px 2px;
    }
}
